* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.banner {
  height: 20px;
  background-color: #0282f9;
}

nav {
  padding-top: 100px;
}

.noDeco {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 50px;
}
.noDeco a {
  text-decoration: none;
  font-weight: 300;
  color: black;
}

img {
  position: relative;
  bottom: 40px;
}

.footer {
  width: 100%;
  background-image: url(../img/footer-bg.jpg);
  background-size: cover;
}

.footer-container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.titleFooter {
  color: white;
  font-size: 18px;
  padding-bottom: 10px;
}

.sub {
  color: #797979;
  list-style: none;
}
.sub a {
  text-decoration: none;
  color: #797979;
}

.ul-cont {
  display: flex;
  gap: 50px;
}

.footer2sec {
  width: 100%;
  height: 100px;
  background-color: #1c1c1c;
}

.container-subFooter {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 20px auto;
}

.button {
  border: 3px solid #0282f9;
  width: 150px;
  padding: 14px;
  font-size: 15px;
  background: none;
  color: white;
  margin-top: 20px;
}

.imp {
  position: relative;
  bottom: 10px;
  color: #0282f9;
}

.img-as {
  display: inline-block;
  padding: 10px;
}

.ul-footer {
  margin-top: 20px;
}

.jumbotron {
  height: 600px;
  background-image: url("../img/jumbotron.jpg");
  background-size: cover;
}

.container {
  background-color: #1c1c1c;
}