* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.banner {
  height: 20px;
  background-color: #0282f9;
}

nav {
  padding-top: 100px;
}

.noDeco {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 50px;
}
.noDeco a {
  text-decoration: none;
  font-weight: 300;
  color: black;
}

img {
  position: relative;
  bottom: 40px;
}