* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.banner {
  height: 20px;
  background-color: #0282f9;
}

nav {
  padding-top: 100px;
}

.noDeco {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 50px;
}
.noDeco a {
  text-decoration: none;
  font-weight: 300;
  color: black;
}

img {
  position: relative;
  bottom: 40px;
}

.containers {
  background-color: #0282f9;
  color: white;
}

.card-container {
  width: 80%;
  margin: 0 auto;
  padding: 40px;
  color: white;
}

.nav-useful {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  width: 80%;
  margin: 0 auto;
}

.img-w {
  width: 50px;
  height: 65px;
  vertical-align: middle;
  margin-top: 40px;
}

.li-nav {
  display: inline-block;
  padding: 10px;
}

.footer {
  width: 100%;
  background-image: url(../img/footer-bg.jpg);
  background-size: cover;
}

.footer-container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.titleFooter {
  color: white;
  font-size: 18px;
  padding-bottom: 10px;
}

.sub {
  color: #797979;
  list-style: none;
}
.sub a {
  text-decoration: none;
  color: #797979;
}

.ul-cont {
  display: flex;
  gap: 50px;
}

.footer2sec {
  width: 100%;
  height: 100px;
  background-color: #1c1c1c;
}

.container-subFooter {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 20px auto;
}

.button {
  border: 3px solid #0282f9;
  width: 150px;
  padding: 14px;
  font-size: 15px;
  background: none;
  color: white;
  margin-top: 20px;
}

.imp {
  position: relative;
  bottom: 10px;
  color: #0282f9;
}

.img-as {
  display: inline-block;
  padding: 10px;
}

.ul-footer {
  margin-top: 20px;
}

.items-container {
  background-color: #1c1c1c;
  height: 750px;
}

.button-second {
  width: 200px;
  padding: 20px;
  background-color: #0282f9;
  color: white;
  margin-left: 500px;
  position: relative;
  bottom: 35px;
}

.button-secondo {
  width: 200px;
  padding: 20px;
  background-color: #0282f9;
  color: white;
  text-align: center;
  margin: 10px auto;
}

.container-c {
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}

.cards {
  width: 10%;
  flex-basis: 15%;
  height: 100px;
  color: white;
}
.cards img {
  height: 230px;
  width: 80%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.jumbotron {
  height: 600px;
  background-image: url("../img/jumbotron.jpg");
  background-size: cover;
}

.button-second2 {
  background-image: url("../img/download.jpg");
  height: 270px;
  width: 180px;
  margin-left: 500px;
  position: relative;
  bottom: 270px;
  z-index: 1000;
}

.banner {
  background-color: #0282f9;
  height: 50px;
  position: relative;
  bottom: 300px;
}

.container {
  width: 80%;
  margin: 0 auto;
  position: relative;
  bottom: 200px;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

h2 {
  color: #2596be;
}

.col-1 {
  flex: 0 50%;
}

.av {
  display: flex;
  height: 40px;
  width: 500px;
}

.avaible {
  width: 70%;
  background-color: #50b490;
  padding: 10px;
  color: #abfa90;
}
.avaible .span {
  color: white;
}

.avaible1 {
  background-color: #50b490;
  width: 30%;
  border-left: 1px solid black;
  padding: 10px;
  color: white;
}

.vert {
  margin-left: 110px;
  color: #abfa90;
}

.lorem {
  margin-top: 20px;
  line-height: 30px;
}

.container-2 {
  width: 100%;
  height: 500px;
  background-color: #f6f6f6;
}

col {
  flex: 0 50%;
}