.button-second {
    background-image: url('../img/download.jpg');
    height: 270px;
    width: 180px;
    margin-left: 500px;
    position: relative;
    bottom: 300px;
    
}

.banner{
    background-color:#0282f9 ;
    height: 50px;
    position: relative;
        bottom: 300px;
    
}